{% extends "layout.html" %}

{% block head %}
    <title>Sign In</title>
{% endblock %}

{% block main %}
<style>
    body {
      margin: 0;
      padding: 0;
      background: url(../static/photos/log.png);
      background-blend-mode: multiply;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      font-family: sans-serif;
    }
    
    .box {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 25rem;
      padding: 2.5rem;
      box-sizing: border-box;
      background: rgba(0, 0, 0, 0.6);
      border-radius: 0.625rem;
    }
    
    .box h2 {
      margin: 0 0 1.875rem;
      padding: 0;
      color: #fff;
      text-align: center;
    }
    
    .box .inputBox {
      position: relative;
    }
    
    .box .inputBox input {
      width: 100%;
      padding: 0.625rem 0;
      font-size: 1rem;
      color: #fff;
      letter-spacing: 0.062rem;
      margin-bottom: 1.875rem;
      border: none;
      border-bottom: 0.065rem solid #fff;
      outline: none;
      background: transparent;
    }
    
    .box .inputBox label {
      position: absolute;
      top: 0;
      left: 0;
      padding: 0.625rem 0;
      font-size: 1rem;
      color: #fff;
      pointer-events: none;
      transition: 0.5s;
    }
    
    .box .inputBox input:focus ~ label,
    .box .inputBox input:valid ~ label,
    .box .inputBox input:not([value=""]) ~ label {
      top: -1.125rem;
      left: 0;
      color: #788079;
      font-size: 0.75rem;
    }
    
    .box input[type="submit"] {
      border: none;
      outline: none;
      color: #fff;
      background-color: rgb(0, 200, 255);
      padding: 0.625rem 1.25rem;
      cursor: pointer;
      border-radius: 0.312rem;
      font-size: 1rem;
      float: right;
    }
    
    .box input[type="submit"]:hover {
      background-color: #a3a7a3;
    }
    
        </style>
      
      <div class="box">
        <h2>Sign Up</h2>
        <form action="/register" method = "POST">
          <div class="inputBox">
            <input id="username" type="text" name="username" required onkeyup="this.setAttribute('value', this.value);" value="">
            <label>Username</label>
          </div>
          <div class="inputBox">
            <input id="password" type="password" name="password" required value=""
                   onkeyup="this.setAttribute('value', this.value);"
                   >
                <label>Password </label>
            </div>
            <div class="inputBox">
            <input id="confirmation" type="password" name="confirmation"  required value=""
                    onkeyup="this.setAttribute('value', this.value);"
                   >
            <label>Password confirmation</label>
          </div>
          <a href="/login" class="text-white" class="ac">Already have account? </a>
            
          <input type="submit" name="sign-up" value="Sign Up">
        </div>
        </form>
      </div>
{% endblock %}